/* .basuraImage {
    width: 75%;
    position: absolute;
    top: 5%;
    left: 15%;
} */

.image {
    background-image: url('./assets/basura/desktop.png');
    position: absolute;
    top: 0%;
    left: 10%;
    height: 100%;
    width: 85%;
    background-position: center;
    background-size: cover;
}

.Future .music, .Basura .music, .InsideBasura .music {
    width: 10%;
    position: absolute;
    left: 5%;
    bottom: 5%;
}

.Future .exit, .Basura .exit, .InsideBasura .exit {
    position: absolute;
    width: 10%;
    top: 80%;
    left: 85%;
}

@media (max-width: 560px) {
    .image {
        width: 100%;
        height: 100%;
        left: 0;
    }
    .logo-basura {
        width: 100% !important;
    }
    .Future .exit, .Basura .exit, .InsideBasura .exit {
        position: absolute;
        width: 25%;
        top: 84%;
        -webkit-transform: rotate(-18deg);
        transform: rotate(-35deg);
        left: 71%;
    }
    .Future .music, .Basura .music, .InsideBasura .music {
        width: 24%;
        position: absolute;
        left: 5%;
        bottom: 5%;
    }
}

.insidebasura {
    width: 100%;
    height: 98vh;
    position: absolute;
    top: 1%;
}