.App1 {
  text-align: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #ff66ff;
}

.black {
  background: black;
  height: 50vh;
}

.storeBackground {
  width: 90%;
  position: absolute;
  top: 0;
  left: 5%;
}

.store6l {
  width: 22%;
  left: 17%;
  top: 45%;
}

.store6r {
  width: 23%;
  top: 45%;
  right: 10%;
}

.store10r {
  width: 13%;
  right: 27%;
  top: 69%;
  z-index: 9999;
}

.store6m {
  width: 26%;
  top: 45%;
  right: 33%;
}

.store101m {
  width: 6%;
  top: 75%;
  left: 37%;
  z-index: 22;
}

.App1 .portal {
  width: 15%;
  top: 88%;
  left: 44%;
  z-index: 11;
}

.store7r {
  width: 17%;
  left: 72%;
  top: 42%;
}

.store7l {
  width: 17%;
  left: 19%;
  top: 42%;
  z-index: 2;
}

.store11, .store12, .store13 {
  z-index: 9999;
}

.App1 .music {
  left: 18%;
  bottom: 2%;
}

.App1 .store10l {
  left: 9%;
  top: 60%;
}

.modalCloseButton {
  position: absolute;
  right: 10px;
  font-size: 4rem;
  z-index: 999;
}

@media (max-width: 560px) {
  .storeBackground {
    width: 113%;
    position: absolute;
    top: 0%;
    left: 0;
  }
  .store6l {
    width: 57%;
    left: 0%;
    top: 35%;
  }
  .store6r {
    width: 70%;
    top: 43%;
    right: -2%;
  }
  .store7l {
    width: 42%;
    left: 5%;
    top: 34%;
  }
  .store7r {
    width: 50%;
    left: 50%;
    top: 40%;
  }
  .App1 .store10l {
    width: 30%;
    left: 70%;
    top: 60%;
    z-index: 2;
    transform: scaleX(-1);
  }
  .store6m {
    width: 65%;
    top: 61%;
    right: 37%;
    z-index: 6;
  }
  .store11, .store12, .store13 {
    z-index: 9999;
    top: 30%;
    width: 100%;
    left: 0%;
  }
  .App1 .portal {
    width: 40%;
    top: 88%;
    left: 25%;
  }
  .store101m {
    width: 17%;
    top: 81%;
    left: 2%;
    z-index: 22;
  }
  .store10r {
    width: 27%;
    right: 21%;
    top: 79%;
    z-index: 9;
  }
  .App1 .music {
    left: 9%;
    bottom: 2%;
    z-index: 99;
  }
}